<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;   
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: #4CAF50;
        }

        h1 {
            text-align: center;
        }

        .center {
            width: 400px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        input[type=submit] {
            font-size: 16px;
            background-color: black;
            color: white;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            border: none;
            border-radius: 4px;
        }
    </style>
    <script>
        function add() {
            var name = document.getElementById("name").value;
            var date = document.getElementById("date").value;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var games = JSON.parse(this.responseText);
                    var string = "";
                    var list = document.getElementById("table");
                    string = "<table><tr><th>ID</th><th>Game</th><th>Release Date</th><th>Remove from table</th></tr>";
                    games.forEach(function(value) {
                        string += "<tr><td>" + value.id + "</td><td>" + value.game + "</td><td>" + value.release + "</td><td><button type='button' id='" + value.id + "' onclick='remove(this.id)'>Remove</button></td></tr>";
                    });
                    string += "</table>";
                    list.innerHTML = string;
                }
            };
            xhttp.open("GET", "/add?name=" + name + "&date=" + date, false);
            xhttp.send();
        }

        function remove(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var games = JSON.parse(this.responseText);
                    var string = "";
                    var list = document.getElementById("table");
                    string = "<table><tr><th>ID</th><th>Game</th><th>Release Date</th><th>Remove from table</th></tr>";
                    games.forEach(function(value) {
                        string += "<tr><td>" + value.id + "</td><td>" + value.game + "</td><td>" + value.release + "</td><td><button type='button' id='" + value.id + "' onclick='remove(this.id)'>Remove</button></td></tr>";
                    });
                    string += "</table>";
                    list.innerHTML = string;
                }
            };
            xhttp.open("GET", "/remove?id=" + id, false);
            xhttp.send();
        }
    </script>
</head>

<body>

    <ul>
        <li><a class="active" href="homepage.html">Home</a></li>
        <li><a href="finder.html">Consoles</a></li>
    </ul>

    <h1>Games found in table</h1>

    <div id=table>
        <table>
            <tr>
                <th>ID</th>
                <th>Game</th>
                <th>Release Date</th>
                <th>Remove from table</th>
            </tr>
            <% for(var game of games) { %>
            <tr><td><%= game.id %></td><td><%= game.game %></td><td><%= game.release %></td><td><button type="button" id="<%= game.id %>" onclick="remove(this.id)">Remove</button></td></tr>
            <% } %>
        </table>
    </div><br><br><br>
    <div>
        <form class="center">
            <fieldset>
                <legend><b>Add a game to the library</b></legend>
                Name:<br>
                <input type="text" id="name"><br><br>

                Release Date:<br>
                <input type="text" id="date" placeholder="YYYY-MM-DD"><br><br>

                <button type="button" onclick="add()">Submit</button>
            </fieldset>
        </form>
    </div>

</body>
</html>