<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Welcome to the Video Game Library</h1>

    <form method="post" action="/login">
        <fieldset>
            <legend><b>Sign In</b></legend>
            
            User Name:<br>
            <input type="text" name="name"><br><br>

            Password:<br>
            <input type="password" name="password"><br><br>

            <input type="submit" value="Login">
        </fieldset>
    </form><br>
    <a href="create_account.html">Don't Have an Account?</a>
</body>
</html>